body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(white,rgb(182,194,245));
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
   
}
.mjimg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
nav{
    width: 100%;
}
nav ul li{
    padding-left: 20px;
    padding-right: 20px;
}
nav ul li a{
    font-size: 20px;
    font-weight: bold;
}
.divani{
    background-image: url(./cmd4.png);
    background-repeat: no-repeat;height: 450px;
    margin:0 auto;
    padding: 69px;
    /* margin-left: 355px; */
    width: 80vw;
    /* margin-top: 103px; */
}
.divani h1 a{
    color: white;
    margin-left:  284px;
    font-size: 23px;
    font-family: 'Ubuntu', sans-serif;;
    font-weight: 400;
}
.about{
    text-align: center;
    color: black;
    padding: 155px;
    font-size: 30px;
}
.contact-form {
    background: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
    /* width: 70%; */
    border-radius: 50px;
}

.contact-form-1 {
    background: #fff;
    margin-top: -4%;
    margin-bottom: 5%;
    width: 89% !important;
    border-radius: 40px;
    height: 51px;
}

.contact-form .form-control {
    border-radius: 1rem;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 6rem;
    width: 6%;
    margin-top: -3%;
}

.contact-form form {
    padding: 10%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #0062cc;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.icon {
    color: rgb(9, 106, 192);
    font-size: 40px;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
.connect li {
    display: inline;
    list-style: none;
    text-align: center;
}

.connect {
    margin: 0 auto;
    text-align: center
}
.progress{
	border-radius: 20px;
	height: 25px;
}
.skill-name{
	text-transform: uppercase;
	margin-left: 10px;
	padding-left:10px;
	padding-top: 2.5px;
	float:left;
	font-family: 'Raleway', sans-serif;
	font-size: 1.1em;
}

.progress .progress-bar, .progress .progress-bar.progress-bar-default {
    background-color:#0062cc ;
}
.progress  .progress-bar{
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.0s;
}

@keyframes animateBar {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}
.projectimg{
    vertical-align: center;
    border-style: none;
    height: 280px;
    width: 407px;
    padding: 30px;
}
.skillrow{
    margin-left: -120px;
    margin-right: 0px;
    margin-top: 70px;
    display: flex;
}
.box3 {
    /* box-shadow:0 0 3px rgba(0,0,0,.3); */
    position: relative
}

.box3 .box-content,
.box3:after,
.box3:before {
    position: absolute;
    left: 7%;
    right: 7%;
    transition: all .3s
}

.box3:after,
.box3:before {
    display: block;
    background: rgba(0, 0, 0, .3);
    top: 10%;
    bottom: 10%;
    z-index: 1;
    transform: scale(0, 1)
}

.box3:after {
    top: 10.8%;
    bottom: 10.8%;
    transform: scale(1, 0)
}

.box3:hover:after,
.box3:hover:before {
    transform: scale(1);
    animation: animate 1.5s
}

.box3:hover:before {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff
}

.box:hover:after {
    border-left: 3px solid #fff;
    border-right: 3px solid #fff
}

.box img {
    width: 100%;
    height: auto;
    transition: all .3s
}

.box3:hover img {
    transform: scale(1.2);
    filter: blur(5px);
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px)
}

.box3 .box-content {
    padding: 30px 10px;
    top: 10%;
    bottom: 10%;
    opacity: 0;
    z-index: 2
}

.box3:hover .box-content {
    box-shadow: 0 0 0 35px rgba(255, 255, 255, .3);
    opacity: 1;
    transition: all .3s
}

.box3 .title {
    font-size: 24px;
    font-weight: 1000;
    color: #25921b;
    margin: 0 0 5px
}

.box3 .post {
    display: block;
    margin: 0 0 5px;
    font-size: 14px;
    color: rgba(255, 255, 255, .8)
}

.box3 .description {
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    margin: 0 0 20px
}

.box3 .icon {
    padding: 0;
    margin: 0;
    list-style: none
}

.box3 .icon li {
    display: inline-block;
    margin: 0 10px 0 0
}

.box3 .icon li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: #88c425;
    transition: all .5s
}

.box3 .icon a:hover {
    text-decoration: none;
    animation: animate-hover .5s;
    transition: all .3s
}
.below{
    display: none;
}

@keyframes animate {
    0%,
    100% {
        opacity: 1
    }
}

@keyframes animate-hover {
    0% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, .3)
    }
    50% {
        box-shadow: 0 0 0 5px rgba(255, 255, 255, .3)
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .3)
    }
}

@media only screen and (max-width:990px) {
    body{
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }

    /* .box3 {
        margin-bottom: 30px
    }
    .box3 .box-content {
        padding: 10px
    }
    .box3 .description {
        margin-bottom: 10px
    } */
    .divani{
        background-image: url(./cmd4.png);
        background-repeat: no-repeat;
        height: 450px;
        padding: 69px;
        margin-left: -8px;
        width: 100vw;
        margin-top: 103px;
    }
    .about{
        font-size: 30px;
        padding: 35px;
    }
    .programmer{
        display: none;
    }
    .skills{
        width: 500px !important;
        padding: 0;
        margin: 50px 53px !important;
    }
    footer{
        bottom:0;
        display: none;
    }
}

@media only screen and (max-width:479px) {
    body{
        padding: 0;
        margin: 0;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    .box3 .title {
        margin: 0
    }
    .below{
        display: block !important;
    }
    .above{
        display: none !important;
    }
    .divani{
        background-color: transparent;
        background-image: none;
        padding: 0;
        margin: -15px !important;
        margin-top: 50% !important;
        text-align: center !important;
        height: auto;
    }
    .divani h1 a{
        color: black;
        margin-left: 0;
        text-align: center !important;
    }
    .about{
        font-size: 20px;
        padding: 18px;
        /* margin:0 auto; */
    }
    .programmer{
        display: none;
    }
    .skills{
        width: 300px !important;
        padding: 0;
        margin: -140px auto !important;
    }
    footer{
        bottom:0;
        position: relative;
        /* display: none; */
    }
    .form-control{
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    .contact-form form {
        padding: 10% !important;
    }
    .projectimg{
        height: 229px;
        width: 92vw;
        padding: 0;
    }
    .skillrow{
        margin-left: auto !important;
    }

}


.black{
    color: black !important;
}

.skills{
     width: 740px;
     margin: -10px auto;
     padding:10px;
}
footer{
    color: black;
    text-align: center !important;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
    position: absolute;
}